html,
body {
  width: 100%;
  height: 100%;
}
body {
    color: #111;
  font-size: 13px;
  line-height: 150%;

}
a {
  color: #111;
  text-decoration: none;
}
a:hover{
  color: #999;
  text-decoration: none;
}
/* header
-------------------------------------------------------------------------------*/
.site-header {
  position: absolute;
  width: 180px;
  height: 100%;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #bbb;
  background-image: url(../images/common/bg.jpg);
  background-position: left top;
  background-repeat: repeat-y;
}
.site-logo {
  position: absolute;
  top: 100px;
  left: 40px;
}

/* main
-------------------------------------------------------------------------------*/
.site-main  {
  position: relative;
  margin-left: 330px;
  padding-top: 100px;
}
.site-main h1{
  position: absolute;
  top:210px;
  left:-235px;
  margin: 0;
  padding:0;
  letter-spacing: -0.05em;
  font-weight: bold;
  font-size: 96px;
  line-height: 1;
  -webkit-transform: rotate( 90deg );
      -ms-transform: rotate( 90deg );
          transform: rotate( 90deg );
}
.site-update {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 11px;
}
.site-block{
  position: relative;
  padding:20px;
}
.site-block:last-child{
  margin-bottom: 160px;
}
.site-block-border{
  position: absolute;
  top:0;
  left:0;
  width: 10px;
  border-top:1px solid #111;
}
.site-block-title{
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
.site-nav {
  font-size: 14px;
  line-height: 200%;
}
.site-nav ul{
  margin: 0;
  padding: 0 5px;
  list-style: none;
}
.col-12{
  padding: 10px 0;
}
.inkan{
  margin-right: 10px;
  padding:5px;
  border:3px solid #111;
  border-radius: 50%; 
  font-size: 22px;
  font-family: serif;
}
.sta{
  padding:5px;
  padding-top: 0;
  letter-spacing: -0.05em;
  font-size: 18px;
}
.site-copyright {
  position: absolute;
  top:550px;
  left:-190px;
  margin: 0;
  width:200px;
  font-size: 11px;
  -webkit-transform: rotate( 90deg );
      -ms-transform: rotate( 90deg );
          transform: rotate( 90deg );
}

/* dandara
-------------------------------------------------------------------------------*/
.shape-triangle{
  position: fixed;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 180px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 180px solid #111;
  border-left: 100px solid transparent; 
}